header{
    background: black;
    padding: 0.1vw 1.8vh;
}

.logo{
    color: white;
    font-weight: 100;
}

.main_content{
    margin: 2vw;
}

.search_bar input{
    padding: 1vh 65vw 2vh 2vw;
    font-size: 25px;
    color: black;
}

.search{
    background-color: black;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 11px 30px;
    margin-right: 40px;
    margin-top: 15px;
}

.sorters{  
    display: flex;   
}

table{
    margin-top: 20px;
    width: 98%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th{
    font-weight: 200;
  }

.id{
      padding: 12px 10px;
}
.name{
    padding: 15px 25px;
}
.gender{
    padding: 15px 25px;
}
.class{
    padding: 15px 25px;
}
.marks{
    padding: 15px 25px;
}
.passing{
    padding: 15px 25px;
}
.email{
    padding: 15px 25px;
} 

tbody tr td{
    padding: 10px 5px 10px 25px;
}